/*Fira Sans Font*/
.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Nav Styles*/
nav{
  display:flex;
  justify-content:space-between;
}
.nav-title{
  font-weight:bold;
  font-size:32px;
  color:#0E0E0E;
  margin-top:32px;
  margin-bottom:32px;
  margin-left:160px;
  
}
.btn-primary{
  
  color:#006A50;
  padding:15px 30px;
  border-color:#006A50;
  margin-top:32px;
  margin-bottom:32px;
  margin-right:160px;
}
/*Banner Styles*/
.banner{
background-color: #b7d7cf;
 display:flex;
 margin-right: 160px;
 margin-left: 160px;
 border-radius:24px;
}
.banner-title{
  font-weight:medium;
  font-size:24px;
  color:#0E0E0E;

}
.banner-description{
  font-weight:bold;
  font-size:56px;
  color:#0E0E0E;
 

}
.btn-secondary{
  font-weight:semi-bold;
  font-size:18px;
  color:#FFFFFF;
  background-color: #6F857F;
  border-radius:8px;
  padding:17px 34px;
  border:none;
}

.banner-content{
  padding:117px 64px 117px 60px;
}
.hero-image{
  padding:80px 64px 80px 60px;
}
/*Main Section Styles*/
main{
  margin-right: 160px;
  margin-left: 160px;
  max-width:1280px;
}
/*Main Section Pillars of Bangladesh Styles*/
.section-title{
  font-weight:bold;
  font-size:40;
  color:#0E0E0E;
  margin-top:80px;
}
.pillar-container{
  display:flex;
  justify-content:space-between;
  margin-top:32px;
  gap:24px;
  
 
  
}
.pillar{
  padding: 24px;
  box-shadow: 0px 4px 50px 0px hwb(0 85% 15%);
  border-radius:16px;  
}

/*Vision Section Styles*/
.vision{
  margin-top:80px;
}
.vision-container{
  display:flex;
  justify-content: space-between;
  gap:24px;
  margin-top:32px;
  
}
.vision-card{
  padding: 32px;
  margin-top:32px;
}
.card-bg-a{
  background-color:rgb(157, 184, 231);
  border-radius:16px;
  box-shadow:0px 4px 50px 0px rgb(180, 182, 186);
}
.card-bg-b{
  background-color:rgba(188, 235, 214, 1);
  border-radius:16px;
  box-shadow:0px 4px 50px 0px rgb(180, 182, 186);
}
.card-bg-c{
  background-color:rgb(208, 206, 200);
  border-radius:16px;
  box-shadow:0px 4px 50px 0px rgb(180, 182, 186);
}
.vision-section-title{
  font-weight:bold;
  font-size:40px;
  color:#0E0E0E;
}
.vision-description{
  font-weight:regular;
  font-size:16px;
  color:#0E0E0E;
}

/*Shared Styles*/

.vision-card-btn-a{
  font-weight:semi-bold;
  font-size:16px;
  color:#FFFFFF;
  border-radius:8px;
  padding:17px 34px;
  border:none;
 background-color:#5490F5;
}
.vision-card-btn-b{
  font-weight:semi-bold;
  font-size:16px;
  color:#FFFFFF;
  border-radius:8px;
  padding:17px 34px;
  border:none;
  background-color:#09A15C;
}
.vision-card-btn-c{
  font-weight:semi-bold;
  font-size:16px;
  color:#FFFFFF;
  border-radius:8px;
  padding:17px 34px;
  border:none;
  background-color:#FFC239;
}

/*Quote Section Styles*/
.section-quote{
  border-radius:16px;
  box-shadow:0px 4px 50px 0px rgb(180, 182, 186);
  margin-top:32px;
  
}
.quote-container{

  padding:48px 24px;
}
.quote-icon{
       max-width:64px;
       position:absolute;
       
}
.quote-text{
  font-weight:regular;
  font-size:16px;
  color:#0E0E0E;
}
.quote-author{
  font-weight:semi-bold;
  font-size:20px;
  color:#0E0E0E;
}
.quote-position{
  font-weight:regular;
  font-size:16px;
  color:#0E0E0E;
}
/*Recent News Section Styles*/
.news-title{
  font-weight:bold;
  font-size:40px;
  color:#0E0E0E;
  margin-top:80px;
}
.news-description{
  font-weight:regular;
  font-size:16px;
  color:#0e0e0eaa;
}

.news{
  display:flex;
  justify-content:space-between;
  margin-top:32px;
  gap:32px;
  padding:48px;
  box-shadow:0px 4px 50px 0px rgb(180, 182, 186);
  
}
.news-card-2{
  display:flex;
  justify-content:space-between;
  margin-top:32px;
  gap:32px;
  padding:48px;
  box-shadow:0px 4px 50px 0px rgb(180, 182, 186);
}

.corner-radius{
  border-radius:24px;
}

.satellite-title{
  font-weight:bold;
  font-size:32px;
  color:#0E0E0E;
}
.news-date{
  font-weight:regular;
  font-size:16px;
  color:rgba(14, 14, 14, 0.54);

}

.news-blog{
  font-weight:regular;
  font-size:16px;
  color:rgba(14, 14, 14, 0.7);
}
.news-btn{
  font-weight:semi-bold;
  font-size:16px;
  color:#FFFFFF;
  border-radius:8px;
  padding:17px 34px;
  border:none;
  background-color:rgba(0, 106, 80, 1);
}
/*Donation Section Styles*/
.donation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:80px;
}

.donation-container {
  text-align: center;
  padding: 0px 24px;
  
}

.donation-title {
  font-size: 40px;
  font-weight: bold;
  color:rgba(14, 14, 14, 1);
  margin-bottom: 24px;
}

.donation-subtitle {
  font-size: 16px;
  font-weight:regular;
  color:rgba(14, 14, 14, 0.7);
  padding:24px 80px;
  
}

.donation-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 12px 20px;
  
  gap:24px;
  
}

.donation-option {
 flex:1; 
 font-size: 40px;
 font-weight:bold;
 color:#0E0E0E;
 padding:40px;
 border-radius: 16px; 
 border:none;
 
}

.donation-option-green {
  background: #d4ede4;
  border:none;
  font-size: 40px;
  font-weight:bold;
  color:#0E0E0E;
  padding:40px;
  border-radius: 16px;
  gap:24px; 
}

.donation-options :hover {
  background: #FFFFFF;
}

.donation-input {
    width: 1032px;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: #666;
    font-weight: 400;
}
.donation-input:hover{background-color: white;}
placeholder{
  padding:20px 423px;
}

.donation-btn{
  font-weight:semi-bold;
  font-size:16px;
  color:#FFFFFF;
  border-radius:8px;
  padding:17px 34px;
  border:none;
  background-color:rgba(0, 106, 80, 1);
}
.donation-button:hover {
  background: #085b38;}
